xsd/internal/c8oforms_response_fs/GetDocument.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:extra_actions_c8oforms_ns="http://www.convertigo.com/convertigo/projects/extra_actions_c8oforms" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://www.convertigo.com/convertigo/projects/extra_actions_c8oforms">
    <xsd:element name="c8oforms_response_fs__GetDocument" type="extra_actions_c8oforms_ns:c8oforms_response_fs__GetDocumentRequestData">
        <xsd:annotation/>
    </xsd:element>
    <xsd:element name="c8oforms_response_fs__GetDocumentResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="response" type="extra_actions_c8oforms_ns:c8oforms_response_fs__GetDocumentResponseData"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:complexType name="c8oforms_response_fs__GetDocumentResponseType">
        <xsd:sequence>
            <xsd:element name="document" type="extra_actions_c8oforms_ns:c8oforms_response_fs__GetDocumentResponseData"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_response_fs__GetDocumentRequestData">
        <xsd:sequence>
            <xsd:element name="_use_docid" type="xsd:string">
                <xsd:annotation>
                    <xsd:appinfo>Document ID</xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_response_fs_GetDocument_document_couchdb_output__c8oMeta_headers_Cache_ControlType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="Cache-Control" name="originalKeyName" type="xsd:string"/>
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_response_fs_GetDocument_document_couchdb_output__c8oMeta_headers_Content_LengthType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="Content-Length" name="originalKeyName" type="xsd:string"/>
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_response_fs_GetDocument_document_couchdb_output__c8oMeta_headers_Content_TypeType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="Content-Type" name="originalKeyName" type="xsd:string"/>
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_response_fs_GetDocument_document_couchdb_output__c8oMeta_headers_DateType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_response_fs_GetDocument_document_couchdb_output__c8oMeta_headers_ETagType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_response_fs_GetDocument_document_couchdb_output__c8oMeta_headers_ServerType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_response_fs_GetDocument_document_couchdb_output__c8oMeta_headers_X_Couch_Request_IDType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="X-Couch-Request-ID" name="originalKeyName" type="xsd:string"/>
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_response_fs_GetDocument_document_couchdb_output__c8oMeta_headers_X_CouchDB_Body_TimeType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="X-CouchDB-Body-Time" name="originalKeyName" type="xsd:string"/>
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_response_fs_GetDocument_document_couchdb_output__c8oMeta_headersType">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="Cache_Control" type="extra_actions_c8oforms_ns:c8oforms_response_fs_GetDocument_document_couchdb_output__c8oMeta_headers_Cache_ControlType"/>
            <xsd:element minOccurs="0" name="Content_Length" type="extra_actions_c8oforms_ns:c8oforms_response_fs_GetDocument_document_couchdb_output__c8oMeta_headers_Content_LengthType"/>
            <xsd:element minOccurs="0" name="Content_Type" type="extra_actions_c8oforms_ns:c8oforms_response_fs_GetDocument_document_couchdb_output__c8oMeta_headers_Content_TypeType"/>
            <xsd:element minOccurs="0" name="Date" type="extra_actions_c8oforms_ns:c8oforms_response_fs_GetDocument_document_couchdb_output__c8oMeta_headers_DateType"/>
            <xsd:element minOccurs="0" name="ETag" type="extra_actions_c8oforms_ns:c8oforms_response_fs_GetDocument_document_couchdb_output__c8oMeta_headers_ETagType"/>
            <xsd:element minOccurs="0" name="Server" type="extra_actions_c8oforms_ns:c8oforms_response_fs_GetDocument_document_couchdb_output__c8oMeta_headers_ServerType"/>
            <xsd:element minOccurs="0" name="X_Couch_Request_ID" type="extra_actions_c8oforms_ns:c8oforms_response_fs_GetDocument_document_couchdb_output__c8oMeta_headers_X_Couch_Request_IDType"/>
            <xsd:element minOccurs="0" name="X_CouchDB_Body_Time" type="extra_actions_c8oforms_ns:c8oforms_response_fs_GetDocument_document_couchdb_output__c8oMeta_headers_X_CouchDB_Body_TimeType"/>
        </xsd:sequence>
        <xsd:attribute default="object" name="type" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_response_fs_GetDocument_document_couchdb_output__c8oMeta_reasonPhraseType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_response_fs_GetDocument_document_couchdb_output__c8oMeta_statusType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_response_fs_GetDocument_document_couchdb_output__c8oMeta_statusCodeType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_response_fs_GetDocument_document_couchdb_output__c8oMetaType">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="headers" type="extra_actions_c8oforms_ns:c8oforms_response_fs_GetDocument_document_couchdb_output__c8oMeta_headersType"/>
            <xsd:element minOccurs="0" name="reasonPhrase" type="extra_actions_c8oforms_ns:c8oforms_response_fs_GetDocument_document_couchdb_output__c8oMeta_reasonPhraseType"/>
            <xsd:element minOccurs="0" name="status" type="extra_actions_c8oforms_ns:c8oforms_response_fs_GetDocument_document_couchdb_output__c8oMeta_statusType"/>
            <xsd:element minOccurs="0" name="statusCode" type="extra_actions_c8oforms_ns:c8oforms_response_fs_GetDocument_document_couchdb_output__c8oMeta_statusCodeType"/>
        </xsd:sequence>
        <xsd:attribute default="object" name="type" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_response_fs_GetDocument_document_couchdb_output__idType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_response_fs_GetDocument_document_couchdb_output__revType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_response_fs_GetDocument_document_couchdb_output_actions_submit_item_actions_extra_actions_c8oforms_forms_total_responses_enabledType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_response_fs_GetDocument_document_couchdb_output_actions_submit_item_actions_extra_actions_c8oforms_forms_total_responses_fullsyncType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_response_fs_GetDocument_document_couchdb_output_actions_submit_item_actions_extra_actions_c8oforms_forms_total_responses_varsType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="object" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_response_fs_GetDocument_document_couchdb_output_actions_submit_item_actions_extra_actions_c8oforms_forms_total_responsesType">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="enabled" type="extra_actions_c8oforms_ns:c8oforms_response_fs_GetDocument_document_couchdb_output_actions_submit_item_actions_extra_actions_c8oforms_forms_total_responses_enabledType"/>
            <xsd:element minOccurs="0" name="fullsync" type="extra_actions_c8oforms_ns:c8oforms_response_fs_GetDocument_document_couchdb_output_actions_submit_item_actions_extra_actions_c8oforms_forms_total_responses_fullsyncType"/>
            <xsd:element minOccurs="0" name="vars" type="extra_actions_c8oforms_ns:c8oforms_response_fs_GetDocument_document_couchdb_output_actions_submit_item_actions_extra_actions_c8oforms_forms_total_responses_varsType"/>
        </xsd:sequence>
        <xsd:attribute default="extra_actions_c8oforms.forms_total_responses" name="originalKeyName" type="xsd:string"/>
        <xsd:attribute default="object" name="type" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_response_fs_GetDocument_document_couchdb_output_actions_submit_item_actions_lib_Actions_C8Oforms_forms_notify_response_simple_by_mail_simple_enabledType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_response_fs_GetDocument_document_couchdb_output_actions_submit_item_actions_lib_Actions_C8Oforms_forms_notify_response_simple_by_mail_simple_fullsyncType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_response_fs_GetDocument_document_couchdb_output_actions_submit_item_actions_lib_Actions_C8Oforms_forms_notify_response_simple_by_mail_simple_vars_forms_mail_bodyType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_response_fs_GetDocument_document_couchdb_output_actions_submit_item_actions_lib_Actions_C8Oforms_forms_notify_response_simple_by_mail_simple_vars_forms_mail_recipients_bccType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_response_fs_GetDocument_document_couchdb_output_actions_submit_item_actions_lib_Actions_C8Oforms_forms_notify_response_simple_by_mail_simple_vars_forms_mail_recipients_ccType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_response_fs_GetDocument_document_couchdb_output_actions_submit_item_actions_lib_Actions_C8Oforms_forms_notify_response_simple_by_mail_simple_vars_forms_mail_recipients_toType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_response_fs_GetDocument_document_couchdb_output_actions_submit_item_actions_lib_Actions_C8Oforms_forms_notify_response_simple_by_mail_simple_vars_forms_mail_subjectType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_response_fs_GetDocument_document_couchdb_output_actions_submit_item_actions_lib_Actions_C8Oforms_forms_notify_response_simple_by_mail_simple_vars_forms_mail_summaryType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_response_fs_GetDocument_document_couchdb_output_actions_submit_item_actions_lib_Actions_C8Oforms_forms_notify_response_simple_by_mail_simple_varsType">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="forms_mail_body" type="extra_actions_c8oforms_ns:c8oforms_response_fs_GetDocument_document_couchdb_output_actions_submit_item_actions_lib_Actions_C8Oforms_forms_notify_response_simple_by_mail_simple_vars_forms_mail_bodyType"/>
            <xsd:element minOccurs="0" name="forms_mail_recipients_bcc" type="extra_actions_c8oforms_ns:c8oforms_response_fs_GetDocument_document_couchdb_output_actions_submit_item_actions_lib_Actions_C8Oforms_forms_notify_response_simple_by_mail_simple_vars_forms_mail_recipients_bccType"/>
            <xsd:element minOccurs="0" name="forms_mail_recipients_cc" type="extra_actions_c8oforms_ns:c8oforms_response_fs_GetDocument_document_couchdb_output_actions_submit_item_actions_lib_Actions_C8Oforms_forms_notify_response_simple_by_mail_simple_vars_forms_mail_recipients_ccType"/>
            <xsd:element minOccurs="0" name="forms_mail_recipients_to" type="extra_actions_c8oforms_ns:c8oforms_response_fs_GetDocument_document_couchdb_output_actions_submit_item_actions_lib_Actions_C8Oforms_forms_notify_response_simple_by_mail_simple_vars_forms_mail_recipients_toType"/>
            <xsd:element minOccurs="0" name="forms_mail_subject" type="extra_actions_c8oforms_ns:c8oforms_response_fs_GetDocument_document_couchdb_output_actions_submit_item_actions_lib_Actions_C8Oforms_forms_notify_response_simple_by_mail_simple_vars_forms_mail_subjectType"/>
            <xsd:element minOccurs="0" name="forms_mail_summary" type="extra_actions_c8oforms_ns:c8oforms_response_fs_GetDocument_document_couchdb_output_actions_submit_item_actions_lib_Actions_C8Oforms_forms_notify_response_simple_by_mail_simple_vars_forms_mail_summaryType"/>
        </xsd:sequence>
        <xsd:attribute default="object" name="type" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_response_fs_GetDocument_document_couchdb_output_actions_submit_item_actions_lib_Actions_C8Oforms_forms_notify_response_simple_by_mail_simpleType">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="enabled" type="extra_actions_c8oforms_ns:c8oforms_response_fs_GetDocument_document_couchdb_output_actions_submit_item_actions_lib_Actions_C8Oforms_forms_notify_response_simple_by_mail_simple_enabledType"/>
            <xsd:element minOccurs="0" name="fullsync" type="extra_actions_c8oforms_ns:c8oforms_response_fs_GetDocument_document_couchdb_output_actions_submit_item_actions_lib_Actions_C8Oforms_forms_notify_response_simple_by_mail_simple_fullsyncType"/>
            <xsd:element minOccurs="0" name="vars" type="extra_actions_c8oforms_ns:c8oforms_response_fs_GetDocument_document_couchdb_output_actions_submit_item_actions_lib_Actions_C8Oforms_forms_notify_response_simple_by_mail_simple_varsType"/>
        </xsd:sequence>
        <xsd:attribute default="lib_Actions_C8Oforms.forms_notify_response_simple_by_mail_simple" name="originalKeyName" type="xsd:string"/>
        <xsd:attribute default="object" name="type" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_response_fs_GetDocument_document_couchdb_output_actions_submit_item_actionsType">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="extra_actions_c8oforms_forms_total_responses" type="extra_actions_c8oforms_ns:c8oforms_response_fs_GetDocument_document_couchdb_output_actions_submit_item_actions_extra_actions_c8oforms_forms_total_responsesType"/>
            <xsd:element minOccurs="0" name="lib_Actions_C8Oforms_forms_notify_response_simple_by_mail_simple" type="extra_actions_c8oforms_ns:c8oforms_response_fs_GetDocument_document_couchdb_output_actions_submit_item_actions_lib_Actions_C8Oforms_forms_notify_response_simple_by_mail_simpleType"/>
        </xsd:sequence>
        <xsd:attribute default="object" name="type" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_response_fs_GetDocument_document_couchdb_output_actions_submit_item_catType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_response_fs_GetDocument_document_couchdb_output_actions_submit_item_config_pageType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_response_fs_GetDocument_document_couchdb_output_actions_submit_item_configType">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="page" type="extra_actions_c8oforms_ns:c8oforms_response_fs_GetDocument_document_couchdb_output_actions_submit_item_config_pageType"/>
        </xsd:sequence>
        <xsd:attribute default="object" name="type" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_response_fs_GetDocument_document_couchdb_output_actions_submit_item_idType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_response_fs_GetDocument_document_couchdb_output_actions_submit_item_nameType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_response_fs_GetDocument_document_couchdb_output_actions_submit_item_typeType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_response_fs_GetDocument_document_couchdb_output_actions_submit_itemType">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="actions" type="extra_actions_c8oforms_ns:c8oforms_response_fs_GetDocument_document_couchdb_output_actions_submit_item_actionsType"/>
            <xsd:element minOccurs="0" name="cat" type="extra_actions_c8oforms_ns:c8oforms_response_fs_GetDocument_document_couchdb_output_actions_submit_item_catType"/>
            <xsd:element minOccurs="0" name="config" type="extra_actions_c8oforms_ns:c8oforms_response_fs_GetDocument_document_couchdb_output_actions_submit_item_configType"/>
            <xsd:element minOccurs="0" name="id" type="extra_actions_c8oforms_ns:c8oforms_response_fs_GetDocument_document_couchdb_output_actions_submit_item_idType"/>
            <xsd:element minOccurs="0" name="name" type="extra_actions_c8oforms_ns:c8oforms_response_fs_GetDocument_document_couchdb_output_actions_submit_item_nameType"/>
            <xsd:element minOccurs="0" name="type" type="extra_actions_c8oforms_ns:c8oforms_response_fs_GetDocument_document_couchdb_output_actions_submit_item_typeType"/>
        </xsd:sequence>
        <xsd:attribute default="object" name="type" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_response_fs_GetDocument_document_couchdb_output_actions_submitType">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="item" type="extra_actions_c8oforms_ns:c8oforms_response_fs_GetDocument_document_couchdb_output_actions_submit_itemType"/>
        </xsd:sequence>
        <xsd:attribute name="length" type="xsd:byte"/>
        <xsd:attribute default="array" name="type" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_response_fs_GetDocument_document_couchdb_output_actionsType">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="submit" type="extra_actions_c8oforms_ns:c8oforms_response_fs_GetDocument_document_couchdb_output_actions_submitType"/>
        </xsd:sequence>
        <xsd:attribute default="object" name="type" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_response_fs_GetDocument_document_couchdb_output_c8oGrp__C8O_HIDDEN_published_1664200586522Type">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_response_fs_GetDocument_document_couchdb_output_c8oGrpType">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="_C8O_HIDDEN_published_1664200586522" type="extra_actions_c8oforms_ns:c8oforms_response_fs_GetDocument_document_couchdb_output_c8oGrp__C8O_HIDDEN_published_1664200586522Type"/>
        </xsd:sequence>
        <xsd:attribute default="object" name="type" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_response_fs_GetDocument_document_couchdb_output_finishedType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_response_fs_GetDocument_document_couchdb_output_formIdType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_response_fs_GetDocument_document_couchdb_output_formRevType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_response_fs_GetDocument_document_couchdb_output_resp_datetime1_labelType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_response_fs_GetDocument_document_couchdb_output_resp_datetime1_labelHtmlType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_response_fs_GetDocument_document_couchdb_output_resp_datetime1_nameType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_response_fs_GetDocument_document_couchdb_output_resp_datetime1_typeType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_response_fs_GetDocument_document_couchdb_output_resp_datetime1_valueType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_response_fs_GetDocument_document_couchdb_output_resp_datetime1Type">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="label" type="extra_actions_c8oforms_ns:c8oforms_response_fs_GetDocument_document_couchdb_output_resp_datetime1_labelType"/>
            <xsd:element minOccurs="0" name="labelHtml" type="extra_actions_c8oforms_ns:c8oforms_response_fs_GetDocument_document_couchdb_output_resp_datetime1_labelHtmlType"/>
            <xsd:element minOccurs="0" name="name" type="extra_actions_c8oforms_ns:c8oforms_response_fs_GetDocument_document_couchdb_output_resp_datetime1_nameType"/>
            <xsd:element minOccurs="0" name="type" type="extra_actions_c8oforms_ns:c8oforms_response_fs_GetDocument_document_couchdb_output_resp_datetime1_typeType"/>
            <xsd:element minOccurs="0" name="value" type="extra_actions_c8oforms_ns:c8oforms_response_fs_GetDocument_document_couchdb_output_resp_datetime1_valueType"/>
        </xsd:sequence>
        <xsd:attribute default="object" name="type" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_response_fs_GetDocument_document_couchdb_output_resp_index_labelHtmlType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_response_fs_GetDocument_document_couchdb_output_resp_index_nameType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_response_fs_GetDocument_document_couchdb_output_resp_index_typeType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_response_fs_GetDocument_document_couchdb_output_resp_index_valueType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_response_fs_GetDocument_document_couchdb_output_resp_indexType">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="labelHtml" type="extra_actions_c8oforms_ns:c8oforms_response_fs_GetDocument_document_couchdb_output_resp_index_labelHtmlType"/>
            <xsd:element minOccurs="0" name="name" type="extra_actions_c8oforms_ns:c8oforms_response_fs_GetDocument_document_couchdb_output_resp_index_nameType"/>
            <xsd:element minOccurs="0" name="type" type="extra_actions_c8oforms_ns:c8oforms_response_fs_GetDocument_document_couchdb_output_resp_index_typeType"/>
            <xsd:element minOccurs="0" name="value" type="extra_actions_c8oforms_ns:c8oforms_response_fs_GetDocument_document_couchdb_output_resp_index_valueType"/>
        </xsd:sequence>
        <xsd:attribute default="object" name="type" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_response_fs_GetDocument_document_couchdb_output_resp_inputText1_labelHtmlType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_response_fs_GetDocument_document_couchdb_output_resp_inputText1_nameType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_response_fs_GetDocument_document_couchdb_output_resp_inputText1_typeType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_response_fs_GetDocument_document_couchdb_output_resp_inputText1_valueType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_response_fs_GetDocument_document_couchdb_output_resp_inputText1Type">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="labelHtml" type="extra_actions_c8oforms_ns:c8oforms_response_fs_GetDocument_document_couchdb_output_resp_inputText1_labelHtmlType"/>
            <xsd:element minOccurs="0" name="name" type="extra_actions_c8oforms_ns:c8oforms_response_fs_GetDocument_document_couchdb_output_resp_inputText1_nameType"/>
            <xsd:element minOccurs="0" name="type" type="extra_actions_c8oforms_ns:c8oforms_response_fs_GetDocument_document_couchdb_output_resp_inputText1_typeType"/>
            <xsd:element minOccurs="0" name="value" type="extra_actions_c8oforms_ns:c8oforms_response_fs_GetDocument_document_couchdb_output_resp_inputText1_valueType"/>
        </xsd:sequence>
        <xsd:attribute default="object" name="type" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_response_fs_GetDocument_document_couchdb_output_respType">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="datetime1" type="extra_actions_c8oforms_ns:c8oforms_response_fs_GetDocument_document_couchdb_output_resp_datetime1Type"/>
            <xsd:element minOccurs="0" name="index" type="extra_actions_c8oforms_ns:c8oforms_response_fs_GetDocument_document_couchdb_output_resp_indexType"/>
            <xsd:element minOccurs="0" name="inputText1" type="extra_actions_c8oforms_ns:c8oforms_response_fs_GetDocument_document_couchdb_output_resp_inputText1Type"/>
        </xsd:sequence>
        <xsd:attribute default="object" name="type" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_response_fs_GetDocument_document_couchdb_output_timestampType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_response_fs_GetDocument_document_couchdb_output_versionType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_response_fs_GetDocument_document_couchdb_output__c8oAclType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="~c8oAcl" name="originalKeyName" type="xsd:string"/>
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_response_fs_GetDocument_document_couchdb_outputType">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="_c8oMeta" type="extra_actions_c8oforms_ns:c8oforms_response_fs_GetDocument_document_couchdb_output__c8oMetaType"/>
            <xsd:element minOccurs="0" name="_id" type="extra_actions_c8oforms_ns:c8oforms_response_fs_GetDocument_document_couchdb_output__idType"/>
            <xsd:element minOccurs="0" name="_rev" type="extra_actions_c8oforms_ns:c8oforms_response_fs_GetDocument_document_couchdb_output__revType"/>
            <xsd:element minOccurs="0" name="actions" type="extra_actions_c8oforms_ns:c8oforms_response_fs_GetDocument_document_couchdb_output_actionsType"/>
            <xsd:element minOccurs="0" name="c8oGrp" type="extra_actions_c8oforms_ns:c8oforms_response_fs_GetDocument_document_couchdb_output_c8oGrpType"/>
            <xsd:element minOccurs="0" name="finished" type="extra_actions_c8oforms_ns:c8oforms_response_fs_GetDocument_document_couchdb_output_finishedType"/>
            <xsd:element minOccurs="0" name="formId" type="extra_actions_c8oforms_ns:c8oforms_response_fs_GetDocument_document_couchdb_output_formIdType"/>
            <xsd:element minOccurs="0" name="formRev" type="extra_actions_c8oforms_ns:c8oforms_response_fs_GetDocument_document_couchdb_output_formRevType"/>
            <xsd:element minOccurs="0" name="resp" type="extra_actions_c8oforms_ns:c8oforms_response_fs_GetDocument_document_couchdb_output_respType"/>
            <xsd:element minOccurs="0" name="timestamp" type="extra_actions_c8oforms_ns:c8oforms_response_fs_GetDocument_document_couchdb_output_timestampType"/>
            <xsd:element minOccurs="0" name="version" type="extra_actions_c8oforms_ns:c8oforms_response_fs_GetDocument_document_couchdb_output_versionType"/>
            <xsd:element minOccurs="0" name="_c8oAcl" type="extra_actions_c8oforms_ns:c8oforms_response_fs_GetDocument_document_couchdb_output__c8oAclType"/>
        </xsd:sequence>
        <xsd:attribute default="object" name="type" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_response_fs__GetDocumentResponseData">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="couchdb_output" type="extra_actions_c8oforms_ns:c8oforms_response_fs_GetDocument_document_couchdb_outputType"/>
            <xsd:element minOccurs="0" name="error" type="extra_actions_c8oforms_ns:ConvertigoError"/>
        </xsd:sequence>
        <xsd:attribute name="connector" type="xsd:string"/>
        <xsd:attribute name="context" type="xsd:string"/>
        <xsd:attribute name="contextId" type="xsd:string"/>
        <xsd:attribute name="fromStub" type="xsd:boolean"/>
        <xsd:attribute name="fromcache" type="xsd:boolean"/>
        <xsd:attribute name="generated" type="xsd:string"/>
        <xsd:attribute name="project" type="xsd:string"/>
        <xsd:attribute name="sequence" type="xsd:string"/>
        <xsd:attribute name="signature" type="xsd:long"/>
        <xsd:attribute name="transaction" type="xsd:string"/>
        <xsd:attribute name="version" type="xsd:string"/>
        <xsd:attribute name="screenclass" type="xsd:string"/>
        <xsd:attribute name="userReference" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="ConvertigoErrorContextVariable">
        <xsd:attribute name="name" type="xsd:string"/>
        <xsd:attribute name="value" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="ConvertigoErrorContext">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="variable" type="extra_actions_c8oforms_ns:ConvertigoErrorContextVariable"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ConvertigoError">
        <xsd:sequence minOccurs="0">
            <xsd:element name="code" type="xsd:integer"/>
            <xsd:element name="message" type="xsd:string"/>
            <xsd:element name="details" type="xsd:string"/>
            <xsd:element name="context" type="extra_actions_c8oforms_ns:ConvertigoErrorContext"/>
            <xsd:element name="exception" type="xsd:string"/>
            <xsd:element name="stacktrace" type="xsd:string"/>
        </xsd:sequence>
        <xsd:attribute name="project" type="xsd:string"/>
        <xsd:attribute name="connector" type="xsd:string"/>
        <xsd:attribute name="transaction" type="xsd:string"/>
        <xsd:attribute name="sequence" type="xsd:string"/>
        <xsd:attribute name="type">
            <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="c8o"/>
                    <xsd:enumeration value="project"/>
                </xsd:restriction>
            </xsd:simpleType>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
